<app-breadcrumb [title]="'Title'" />
<section class="row">
  <article class="col s8 mb-2 pt-4">
    <h1 class="mb-4 mt-1">Title</h1>
    <hr />
    <section class="pt-5 px-5 pb-6">
      <h2>Game Overview</h2>
      <p>Description</p>
      <img src="" alt="main_image" class="mt-5 mb-2" />
      <h2>Game Details</h2>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <span matListItemTitle> Property </span>
          <span matListItemLine> Value</span>
        </mat-list-item>
      </mat-list>
      <h2>System Requirements</h2>
      <mat-list>
        <mat-list-item> <strong> OS: </strong> Windows 11 </mat-list-item>
      </mat-list>
      <h2>Screenshots</h2>
      <img src="" alt="other_images" class="mb-2" />
    </section>
  </article>
  <app-sidebar class="col s4" />
</section>
