<header>
  <section class="container">
    <a routerLink="" class="logo my-5"> Gamezone </a>
  </section>
  <nav>
    <div class="nav-wrapper container px-4">
      <a mat-button href="#!" data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons"> menu </i>
      </a>
      <div class="hide-on-med-and-down">
        <a mat-button routerLink="/" class="p-5"> Home </a>
        <a mat-button routerLink="/all" class="p-5"> All Games </a>
        <a class="dropdown-trigger p-5" href="#!" data-target="dropdown1">
          Categories <mat-icon>arrow_drop_down</mat-icon>
        </a>
        <ul id="dropdown1" class="dropdown-content">
          <li>
            <a routerLink="category/test"> Category 1 </a>
          </li>
        </ul>
        <a mat-button routerLink="" class="p-5"> Contact Us </a>
        <a mat-button routerLink="" class="p-5"> Request Game </a>
        <a mat-button routerLink="" class="p-5"> Request Update </a>
      </div>
    </div>
  </nav>
</header>
<ul class="sidenav" id="mobile-demo">
  <li>
    <a mat-button routerLink="/"> Home </a>
  </li>
</ul>
<main class="container my-4">
  <router-outlet />
</main>
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="l6 s12">
        <h5>Gamezone</h5>
        <p>
          You can use rows and columns here to organize your footer content.
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © {{ thisYear > 2024 ? 2024 + " - " + thisYear : thisYear }} Gamezone
    </div>
  </div>
</footer>
