/* You can add global styles to this file, and also import other style files */
$bg-cyan: #004f4f;
$text-cyan: #00dddd;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-bottom: 4px solid $bg-cyan;
  margin-top: 10px;
  padding: 16px 55px;
}
